<div class="widget">
	<h3>Actions</h3>
	<ul>
		<li class="cat-item"><%= link_to 'Publish new blog post', new_admin_publish_blog_post_path %></li>
		<li class="cat-item"><%= link_to 'Comment moderation', admin_comments_path %></li>
	</ul>
</div>