<div class="footernav">
	<ul>
		<li class="page_item page-item-3"><%= link_to 'Home', root_path, :title => 'Home page' %></li>
	</ul>
</div>

<div class="copyright">Theme by <a href="http://smashingmagazine.com">SmashingMagazine</a> and <a href="http://slimmity.com">Slimmity</a></div>