<div class="footernav">
	<ul>
		<li class="page_item page-item-3"><a href="http://demo.slimmity.com/simplefolio/" title="Home">Home</a></li>
		<li class="page_item page-item-7"><a href="http://demo.slimmity.com/simplefolio/about/" title="About">About</a></li>
		<li class="page_item page-item-4 current_page_item"><a href="http://demo.slimmity.com/simplefolio/blog/" title="Blog">Blog</a></li>
		<li class="page_item page-item-9"><a href="http://demo.slimmity.com/simplefolio/portfolio/" title="Portfolio">Portfolio</a></li>
		<li class="page_item page-item-12"><a href="http://demo.slimmity.com/simplefolio/page-templates/" title="Page Templates">Page Templates</a></li>
	</ul>
</div>

<div class="copyright">Theme by <a href="http://smashingmagazine.com">SmashingMagazine</a> and <a href="http://slimmity.com">Slimmity</a></div>