<ul class="sf-menu sf-js-enabled sf-shadow" id="nav">
	<li class="page_item page-item-3"><a href="<%= url_for root_path %>" title="Home"><cufon class="cufon cufon-canvas" alt="Home" style="width: 52px; height: 18px; "><canvas width="63" height="21" style="width: 63px; height: 21px; top: -3px; left: -1px; "></canvas><cufontext>Home</cufontext></cufon></a></li>
</ul>