<div class="widget widget_search">
	<form method="get" id="sidebarsearch" action="" ><div> 
		<input type="text" value="" name="s" id="keyword" /> 
		<input type="submit" name="submit" id="searchsubmit" value="Search" /></div>
	</form>
</div>