<div class="widget widget_rssfeed">
	<ul>
		<li class="rss"><%= link_to 'Subscribe to RSS Feed', feed_path(:atom) %></li>
		<!-- <li class="email"><a href="http://feedburner.google.com/fb/a/mailverify?uri=Slimmity&amp;loc=en_US">Subscribe by Email</a></li> -->
		<!-- <li class="twitter"><a href="http://twitter.com/Slimmity">Follow me on Twitter</a></li> -->
	</ul>
</div>